/* Description: Custom style for the bitwarden toolbar buttons in Firefox */
toolbarbutton[id=_446900e4-71c2-419f-a6a7-df9c091e268b_-BAP] {
  list-style-image: url("images/bitwarden.svg") !important;
}

toolbarbutton[id=_446900e4-71c2-419f-a6a7-df9c091e268b_-BAP][style*="--webextension-menupanel-image"][style*="icon38"] {
  filter: brightness(150%) !important;
}

toolbarbutton[id=_446900e4-71c2-419f-a6a7-df9c091e268b_-BAP][style*="--webextension-menupanel-image"][style*="icon38_locked"] {
  filter: brightness(60%) !important;
}

toolbarbutton[id=_446900e4-71c2-419f-a6a7-df9c091e268b_-BAP] .toolbarbutton-badge {
  display: none !important;
}

/* Description: Custom style for the uBlock Origin toolbar button in Firefox */
toolbarbutton[id="ublock0_raymondhill_net-BAP"] {
    list-style-image: url("images/ublockorigin.svg") !important;
}